.iframe {
	width: 1024px;
	height: 700px;
	float: left;
	outline: rgba(0,0,0,0.5);
}

.editor {
	height: 100%;
	overflow: auto;
}

.group {
	padding: 20px 25px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
	background: white;
	margin: 20px 10px;
}

.groupTitle {
	font-family: Roboto, Helvetica, Arial;
	font-size: 16px;
	letter-spacing: -0.015em;
	color: #555;
	margin-top: 5px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
